{% extends 'shared/base.html' %} {% block body %}
<div class="py-5 my-5">
    <div class="container">
        <div dir="rtl" class="row">
            <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه‌اصلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'fields:index' %}">رشته
                            های تحصیلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'fields:degree_detail' degree.slug %}">{{degree.name}}</a></li>
                    <li class="breadcrumb-item active">{{field.name}}</li>
              </ol>
            </nav>
            </div>
        </div>
    </div>
    <div class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-9 pull-right flip">
                <div></div>
                <div class="page-view article-view">
                    <article>
                        <h1>مهندسی کامپیوتر – هوش مصنوعی</h1>
                        <div class="col-xs-12 p-y-2 text-left">
                            <span class="visit-counter">تعداد بازدید:۴۱۹</span><a class="btn print-btn bg-purple" title="نسخه چاپی" onclick="window.print()"><i class="fa fa-print"></i> </a> <a class="btn send-btn" title="ارسال به دیگران" data-toggle="modal"
                                data-target="#sendToOthers-modal"><i class="fa fa-send fa-sm"></i></a>
                            <div id="sendToOthers-modal" class="fade modal" role="dialog" tabindex="-1">
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2>ارسال به دیگران</h2>
                                            <h2>
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            <form id="w9efaf35b42c052111806f3096c30fd440" class="form-horizontal" action="/send/mail?language=fa&amp;subdomain=eng" method="post">
                                                <input type="hidden" name="_csrf" value="F7m2hvvQmndP8U7f9otcuCamwdvSxFsJhsb0tAJYwFRW0fP2tLrMDSDGFoWkxDHuatG1j7GFF0L-vpHtVxuJBw==">
                                                <div class="form-group field-sendtoothers-name required">
                                                    <label class="control-label col-sm-4" for="sendtoothers-name">نام
                                                        شما</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" id="sendtoothers-name" class="form-control" name="SendToOthers[name]" aria-required="true">
                                                        <p class="help-block help-block-error "></p>
                                                    </div>

                                                </div>
                                                <div class="form-group field-sendtoothers-email required">
                                                    <label class="control-label col-sm-4" for="sendtoothers-email">ایمیل
                                                        شما</label>
                                                    <div class="col-sm-7">
                                                        <input type="email" id="sendtoothers-email" class="form-control" name="SendToOthers[email]" aria-required="true">
                                                        <p class="help-block help-block-error "></p>
                                                    </div>

                                                </div>
                                                <div class="form-group field-sendtoothers-recipient required">
                                                    <label class="control-label col-sm-4" for="sendtoothers-recipient">ایمیل
                                                        دریافت کننده</label>
                                                    <div class="col-sm-7">
                                                        <input type="email" id="sendtoothers-recipient" class="form-control" name="SendToOthers[recipient]" aria-required="true">
                                                        <p class="help-block help-block-error "></p>
                                                    </div>

                                                </div> <input type="hidden" id="sendtoothers-classname" name="SendToOthers[className]" value="aca\page\frontend\models\Page">
                                                <input type="hidden" id="sendtoothers-modelid" name="SendToOthers[modelId]" value="2348"> <input type="hidden" id="sendtoothers-url" name="SendToOthers[url]" value="{&quot;0&quot;:&quot;page/front/view&quot;,&quot;id&quot;:2348,&quot;title&quot;:&quot;مهندسی کامپیوتر – هوش مصنوعی&quot;}">
                                                <input type="hidden" id="sendtoothers-titlefield" name="SendToOthers[titleField]" value="title"> <input type="hidden" id="sendtoothers-contentfield" name="SendToOthers[contentField]" value="content">
                                                <div class="form-group field-send-captcha">
                                                    <label class="control-label col-sm-4" for="send-captcha">کد
                                                        امنیتی</label>
                                                    <div class="col-sm-7">

                                                        <div class="row">
                                                            <div class="col-lg-4"><img id="send-captcha-image" src="/send/captcha?v=5f7f68a9bc9699.53475450&amp;language=fa&amp;subdomain=eng" alt=""></div>
                                                            <div class="col-lg-8"><input type="text" id="send-captcha" class="form-control" name="SendToOthers[verifyCode]">
                                                            </div>
                                                        </div>

                                                        <p class="help-block help-block-error "></p>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8 col-sm-offset-4">
                                                        <button type="submit" class="btn btn-primary">ارسال</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button> </div>
                                                </div>

                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div style="clear:both;"></div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">

                                <em>
                                    <h6 class="update-text">
                                        آخرین ویرایش۱۵ اردیبهشت ۱۳۹۸ </h6>
                                </em>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nestedpage-widget widget">
                            <ul class="list-unstyled">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-xs-12 col-sm-3 pull-left flip">
                <div class="nestedpage-widget widget side-menu">

                    <h4 class="">
                        صفحات مرتبط </h4>

                    <ul class="list-unstyled">
                        <li class="parent">
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2312/%D8%AF%DA%A9%D8%AA%D8%B1%DB%8C">- دکتری</a>
                        </li>
                        <li class="active">
                            - مهندسی کامپیوتر – هوش مصنوعی </li>
                        <ul class="list-unstyled">
                        </ul>
                        <li>
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2347/%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1-%D9%85%D8%B9%D9%85%D8%A7%D8%B1%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1">-
                                مهندسی کامپیوتر- معماری کامپیوتر</a> </li>
                        <li>
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2346/%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1-%D8%B3%DB%8C%D8%B3%D8%AA%D9%85-%D9%87%D8%A7%DB%8C-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1%DB%8C">-
                                مهندسی کامپیوتر – سیستم های نرم افزاری</a> </li>
                        <li>
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2345/%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1">-
                                مهندسی کامپیوتر- نرم افزار</a> </li>
                        <li>
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2344/%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1-%D9%85%D8%B9%D9%85%D8%A7%D8%B1%DB%8C-%D8%B3%DB%8C%D8%B3%D8%AA%D9%85-%D9%87%D8%A7%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1%DB%8C">-
                                مهندسی کامپیوتر- معماری سیستم های کامپیوتری</a> </li>
                        <li>
                            <a href="http://eng.iau-tnb.ac.ir/fa/page/2343/%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%DA%A9%D8%A7%D9%85%D9%BE%DB%8C%D9%88%D8%AA%D8%B1-%D9%87%D9%88%D8%B4-%D9%85%D8%B5%D9%86%D9%88%D8%B9%DB%8C-%D9%88-%D8%B1%D8%A8%D8%A7%D8%AA%DB%8C%DA%A9%D8%B2">-
                                مهندسی کامپیوتر – هوش مصنوعی و رباتیکز</a> </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock body %}