{% extends 'shared/base.html' %} {% load static %} {% block body %}
<div class="py-5 mt-5 grey lighten-3 ">
    <div class="container">
        <div dir="rtl" class="row">
            <div class="col-12">
                <nav class="default-color" aria-label="breadcrumb">
                    <ol class="default-color breadcrumb">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">صفحه‌اصلی</a></li>
                        <li class="breadcrumb-item active">معرفی دانشکده</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-right">
            <div dir="rtl" class="col-12 col-md-8 col-lg-9 ">
                <div class="page-view article-view">
                        <h1>معرفی دانشکده</h1>
                        <div class="content">
                            <p><strong>به نام
                                        خدا</strong></p>

                            <p><span style="font-size:16px;"><strong>به وب سایت
                                        دانشکده برق و کامپیوتر دانشگاه آزاد اسلامی تهران شمال خوش آمدید. این دانشکده در
                                        امر
                                        آموزش و پژوهش علوم کامپیوتر از سال هزار و سیصد و هفتاد و یک&nbsp;با تشکیل گروه
                                        مهندسی کامپیوتر در مقطع کارشناسی فعالیت خود را آغاز نموده است. سپس با تشکیل
                                        گروه­های
                                        برق، فناوری اطلاعات، مهندسی پزشکی، رباتیک و مکاترونیک فعالیت­های آموزشی و پژوهشی
                                        خود
                                        را گسترش داد. تمام تلاش اعضای این دانشکده در جهت ارتقای سطح آگاهی دانشجویان و
                                        پاسخگویی مناسب به نیازهای علمی دانشجویان می­ باشد و مهمترین مسئولیت اعضا ارتقاء
                                        سطح
                                        علمی و پژوهشی در محیطی صمیمی و پویا است. تلاش داریم که با حضور اساتید توانمند،
                                        با
                                        تخصص­ های به روز و کاربردی، کارمندان دلسوز، دانشجویان مشتاق و با بهره ­گیری و
                                        تجهیز
                                        آزمایشگا­های فنی &nbsp;در این دانشکده فضایی مناسب در جهت افزایش توانمندی­ ها و
                                        گامی
                                        درجهت حل مسائل کشور برداریم.</strong></span></p>

                            <p dir="rtl"><span style="font-size:16px;"><strong>دانشجویان دانشکده برق و کامپیوتر در
                                        گرایش­
                                        های زیر مشغول به تحصیل می باشند:</strong></span></p>

                            <p dir="rtl"><span style="font-size:16px;"><strong>دانشجویان مقطع دکتری</strong></span></p>

                            <ul>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی کامپیوتر- نرم
                                            افزار</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی کامپیوتر- معماری سیستم­ های
                                            کامپیوتری</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی کامپیوتر- هوش مصنوعی و
                                            رباتیکز</strong></span></li>
                            </ul>
                            <p dir="rtl"><span style="font-size:16px;"><strong>دانشجویان کارشناسی ارشد</strong></span>
                            </p>

                            <ul>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی برق (گرایش­ های: قدرت،
                                            مخابرات،
                                            کنترل و الکترونیک)</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی کامپیوتر (گرایش­ های: معماری
                                            سیستم­ های کامپیوتری، نرم­ افزار، هوش مصنوعی و رباتیکز و شبکه ­های
                                            کامپیوتری)</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی فناوری اطلاعات- شبکه های
                                            ارتباطی
                                            و کامپیوتری</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی پزشکی-
                                            بیوالکتریک</strong></span>
                                </li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی مکاترونیک</strong></span>
                                </li>
                            </ul>
                            <p dir="rtl"><span style="font-size:16px;"><strong>دانشجویان مقطع کارشناسی</strong></span>
                            </p>

                            <ul>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی برق (گرایش­ های: الکترونیک،
                                            مخابرات، کنترل و قدرت)</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی کامپیوتر (گرایش های: معماری
                                            سیستم­ های کامپیوتری، نرم افزار و فناوری اطلاعات)</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی رباتیک</strong></span></li>
                                <li dir="rtl"><span style="font-size:16px;"><strong>مهندسی تکنولوژی نرم­ افزار (کارشناسی
                                            ناپیوسته)</strong></span></li>
                            </ul>
                            <p dir="rtl" style="color:rgb(57,57,56);font-family:tahoma;font-size:11px;line-height:normal;text-align:justify;">
                                &nbsp;</p>
                        </div>
                    <hr class="seprator">
                    <div class="nestedpage-widget widget">
                        <ul class="list-unstyled">
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="nestedpage-widget widget side-menu">

                    <h4 class="">
                        صفحات مرتبط </h4>

                    <ul class="list-unstyled">
                        <li class="active parent">
                            - معرفی دانشکده </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}