{% extends 'shared/base.html' %}
{% load static %}
{% block body %}
<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb"><li><a href="http://eng.iau-tnb.ac.ir/fa">صفحه‌اصلی</a></li>
<li class="active">رؤسا و مدیران</li>
</ul>            </div>
        </div>
    </div>
    <div class="container main-content">
        <div class="row">
            <div class="col-xs-12 col-sm-9 pull-right flip">
                <div class="page-view article-view">
    <article>
        <h1>رؤسا و مدیران</h1>
        <figure>
                </figure>
        <div class="content">
            <table align="center" class="MsoTableGrid" dir="rtl" style="border-collapse:collapse;border:none;"><tbody><tr><td colspan="2" style="width:638px;padding:0in 7px 0in 7px;" valign="top">
			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">ریاست دانشکده</span></span></strong></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="fa" style="background:white" xml:lang="fa"><span style="font-family:&quot;B Mitra&quot;"><span style="color:black">دکتر محمد میرزایی</span></span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="fa" style="background:white" xml:lang="fa"><span style="font-family:&quot;B Mitra&quot;"><span style="color:black">تخصص : مهندسی برق- الکترونیک دیجیتال</span></span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">پست الکترونیکی </span></span><span lang="fa" style="font-family:&quot;B Mitra&quot;" xml:lang="fa"><span style="color:black">:</span></span><b> &nbsp;</b></span></span></span></span></p>

			<p align="center" dir="ltr" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#2980b9;"><b>&nbsp;</b></span><u><strong><span style="background:white"><span style="font-weight:normal"><span style="color:#2980b9;">m</span><a href="mailto:m.mirzaie@iau-tnb.ac.ir" style="color:blue; text-decoration:underline"><span style="color:#2980b9;"><b><span style="text-decoration:none">.mirzaie@iau-tnb.ac.ir </span></b></span></a></span></span></strong></u></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="fa" style="font-family:&quot;B Mitra&quot;" xml:lang="fa"><span style="color:black">شماره</span></span>&nbsp;<span lang="fa" style="font-family:&quot;B Mitra&quot;" xml:lang="fa"><span style="color:black">تماس: </span></span><span dir="ltr" style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;"><span style="color:black">021-77319354</span></span></span></span></span></span></p>

			<p dir="rtl" style="text-align:right;">&nbsp;</p>
			</td>
		</tr><tr><td style="border-bottom:none;width:319px;padding:0in 7px 0in 7px;border-top:none;border-right:none;border-left:1px solid #000000;" valign="top">
			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><b><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">معاون آموزشی، دانشجویی و فرهنگی</span></span></b></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">دکتر سمانه یزدانی</span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">تخصص :&nbsp;</span></span><span dir="ltr" style="color:black">&nbsp;</span><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">مهندسی کامپیوتر- هوش مصنوعی</span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">شماره تماس :</span></span>&nbsp;<span dir="ltr" style="color:black">&nbsp;021-77009801-47</span></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">پست الکترونیکی :<u> </u></span></span><u><span style="color:#2980b9;"><span dir="ltr">s_yazdani@iau-tnb.ac.ir</span></span></u></span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">آدرس سایت شخصی:</span></span>&nbsp;</span></span></span></span></p>

			<p align="center" dir="rtl" style="margin-bottom:13px;text-align:center;"><u><span style="color:#2980b9;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span dir="ltr">http://faculty.iau-tnb.ac.ir/s-yazdani/fa</span></span></span></span></span></span></u></p>

			<p dir="rtl" style="text-align:right;">&nbsp;</p>
			</td>
			<td style="border-bottom:none;width:319px;padding:0in 7px 0in 7px;border-top:none;border-right:none;border-left:none;" valign="top">
			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">معاون پژوهش و فناوری</span></span></strong></span></span></span></span></p>

			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="fa" style="background:white" xml:lang="fa"><span style="font-family:&quot;B Mitra&quot;"><span style="color:black">دکتر مهدی امینیان</span></span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">تخصص : </span></span><span lang="fa" style="background:white" xml:lang="fa"><span style="font-family:&quot;B Mitra&quot;"><span style="color:black">مهندسی کامپیوتر- معماری و شبکه های کامپیوتری</span></span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">شماره تماس : </span></span><span dir="ltr" style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;"><span style="color:black">021-77319354</span></span></span></span></span></span></p>

			<p align="center" dir="rtl" style="text-align:center;"><span style="font-size:12pt"><span style="direction:rtl"><span style="unicode-bidi:embed"><span style="font-family:&quot;Times New Roman&quot;,serif"><span lang="ar-sa" style="font-family:&quot;B Mitra&quot;" xml:lang="ar-sa"><span style="color:black">پست الکترونیکی: </span></span></span></span></span></span></p>

			<p align="center" style="text-align:center;"><u><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#2980b9;">&nbsp;</span><span dir="rtl"><a href="mailto:m.aminian@iau-tnb.ac.ir" style="color:blue; text-decoration:underline"><span style="color:#2980b9;"><span dir="ltr" style="background:white"><span style="text-decoration:none">iau-tnb.ac.ir</span></span></span></a><span dir="ltr" style="text-decoration: underline; background: white;"><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;"><span style="text-decoration:none"><span style="text-underline:none"><a href="mailto:m.aminian@iau-tnb.ac.ir" style="color:blue; text-decoration:underline"><span style="color:#2980b9;">m.aminian@</span></a></span></span></span></span></span></span></span></u></p>

			<p dir="rtl" style="text-align:right;">&nbsp;</p>
			</td>
		</tr></tbody></table>        </div>
    </article>
    <hr class="seprator">
    <div class="nestedpage-widget widget">
            <ul class="list-unstyled">
                    </ul>
    </div>
    <div style="clear:both;"></div>
    </div>
            </div>
            <aside class="col-xs-12 col-sm-3 pull-left flip">
                    <div class="nestedpage-widget widget side-menu">

            <h4 class="">
                        صفحات مرتبط        </h4>
    
    <ul class="list-unstyled">
                    <li class="active parent">
                - رؤسا و مدیران            </li>
                            </ul>
</div>
            </aside>
        </div>
    </div>
{% endblock body %}